/* export const theme = {
  palette: {
    primary0: '#05668d',
    primary1: '#028090',
    primary2: '#00a896',
    primary3: '#02c39a',
    primary4: '#f0f3bd',
    secondary0: '#22223b',
    secondary1: '#4a4e69',
    secondary2: '#9a8c98',
    secondary3: '#c9ada7',
    secondary4: '#f2e9e4',
    danger0: '#d32f2f',
    danger1: '#f44336',
    danger2: '#f8877f',
    danger3: '#f9a7a1',
    danger4: '#ffcdd2',
    alert0: '#ffa000',
    alert1: '#ffc107',
    alert2: '#ffd761',
    alert3: '#ffecb3',
    alert4: '#fff2ce',
    success0: '#388e3c',
    success1: '#4caf50',
    success2: '#7cc47f',
    success3: '#9fd4a1',
    success4: '#c8e6c9',
    grayscale0: '#212121',
    grayscale1: '#616161',
    grayscale2: '#9e9e9e',
    grayscale4: '#bdbdbd',
    grayscale5: '#e0e0e0',
    grayscale6: '#ffffff',
  },
  reversePalette: {},
  fonts: {
    primary: 'Helvetica Neue, Helvetica, Roboto, sans-serif',
    pre: 'Consolas, Liberation Mono, Menlo, Courier, monospace',
    quote: 'Georgia, serif'
  },
  sizes: {
    maxWidth: '1100px',
    xs: '767px',
    sm: '991px',
    md: '1199px',
    lg: '1200px'
  }
} */